.pre-splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: #0a0a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 1;
  transition: opacity 2s ease-out;
}

.pre-splash--fading-to-black {
  opacity: 1;
}

.pre-splash--fading-out {
  opacity: 0;
}

.pre-splash__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.pre-splash__black-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0;
  animation: fadeToBlack 0.5s ease-in forwards;
}

@keyframes fadeToBlack {
  to {
    opacity: 1;
  }
}
